// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-primary: #14AFDF;
$brand-secondary: #F6871F;
$brand-tertiary: #002454;
$gray: #191919;
$light-gray: #828282;

$white: #FFFFFF;

$black: #000000;

$font-primary: Lato, Helvetica, Arial, sans-serif;
$font-secondary: Arvo, Lora, Georgia, Times, sans-serif;

$font-primary-light: 100;
$font-primary-regular: 400;
$font-primary-bold: 700;
$font-primary-black: 900;

$font-secondary-regular: 400;
$font-secondary-bold: 700;
