* {
  font-family: $font-primary;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparentize($white, .2);

  .brand {
    margin-top: 20px;
    margin-left: 20px;
    img {
      height: 52px !important;
      max-width: none !important;
      width: auto;
    }
  }
  .brand-banner {
    background-color: $brand-primary;
    padding: 30px 0;
  }

    nav.navbar {
      padding: 0;
      ul{
        display: block;
        width: auto;
      }
      li {
        padding: 0 40px 20px;
        display: inline-block;
        a {
          color: $gray;
          font-weight: $font-primary-bold;
          transition: .2s ease-in-out all;
          padding-top: 40px;
          display: inline-block;
          border-top: 5px solid transparent;

          &:hover {
            color: $brand-primary;
            transition: .2s ease-in-out all;
            text-decoration: none;
            border-top: 5px solid $brand-primary;
          }
        }

        &.current-menu-item {
          a {
            color: $brand-primary;
            transition: .2s ease-in-out all;
            text-decoration: none;
            border-top: 5px solid $brand-primary;
          }
        }
      }
    }


  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .cart-customlocation {
    padding: 10px 20px;
    a {
      color: $white;
      font-weight: $font-primary-bold;
    }
  }

  .account-control-link {
    color: $white;
    font-weight: $font-primary-bold;
    margin-top: 30px;
    margin-right: 15px;
  }
}

.sector {
  h3 {
    color: $black;
    position: relative;
    border-bottom: 1px solid $brand-primary;
    line-height: 2px;
    font-weight: 700;
    margin-bottom: 30px;
    span {
      font-family: $font-primary;
      font-weight: $font-primary-regular;
      color: $black;
      margin-top: 10px;
      font-size: 28px;
      border: 15px solid $white;
      background-color: $white;

    }
  }

  p {
    font-size: 24px;
    font-weight: $font-primary-light;
  }
}

.ms-slide-bgcont {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    background-color: transparentize($white, .7);
  }
}

.service-item {
  position: relative;
}

.service-icon {
  border: 1px solid $brand-primary;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  position: absolute;
  left: 30px;
  .fa {
    color: $brand-secondary;
    font-size: 38px;
    margin-top: 17px;
  }
}

.bgd-white {
  background-color: $white;
}

.service-text {
  display: inline-block;
  padding-left: 120px;
  padding-right: 30px;
  margin-bottom: 40px;
}

.block {
  padding: 60px 0;
}

.footer-info {
  background-color: $brand-tertiary;
  color: $white;
  padding: 30px 0;
  line-height: 1.8em;
}

.footer-copy {
  background-color: $brand-secondary;
  padding: 15px;
  font-weight: $font-primary-bold;
  p{
    text-align: center;
    color: $brand-tertiary;
    padding: 0;
    margin: 0;
  }
}

.footer-social {
  ul {
    li {
      display: inline-block;
      margin-right: 30px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  i {
    color: $white;
    font-size: 22px;
  }
}

.contact-info {
  font-weight: $font-primary-light;
  font-size: 18px;
  padding-right: 50px;
}

.contact-details {
  .contact-item {
    margin-bottom: 30px;
  }
  i {
    color: $brand-primary;
    font-size: 28px;
    margin-right: 20px;

    display: inline-block;
    vertical-align: middle;
  }
  p {
    display: inline-block;
    vertical-align: middle;
  }
}

.parallax-window {
	min-height: 480px;
	background: transparent;
}

.primary-banner {
  padding: 200px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    font-weight: $font-primary-black;
    font-size: 62px;
    color: $white;
    padding: 50px 50px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background-color: transparentize($black, .4);
  }
}

h4 {
  font-size: 24px;
  font-weight: $font-primary-black;
}

.member-item {
  margin-bottom: 60px;
  outline: none;
  &:hover {
    text-decoration: none;
    color: initial;
  }
  *:hover {
    text-decoration: none;
    color: initial;
  }
  h4 {
    color: $black;
  }
  span {
    font-size: 14px;
    font-weight: $font-primary-bold;
    margin-bottom: 10px;
    display: block;
    color: $black;
  }
  p{
    font-weight: $font-primary-regular;
    line-height: 24px;
    color: $gray;
  }
  img {
    width: 100%;
    margin-bottom: 40px;
  }
}

.clean-container {
  padding: 0;
}

.team-group-preview {
  img {
    width: 100%;
  }
}

.works-row {
  padding: 40px 30px;

  &.works-row-gray {
    background-color: #F5F5F5;
  }

  img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .works-preview-info {
    margin-top: 30px;
    p {
      font-size: 20px;
      font-weight: $font-primary-light;
    }
    a {
      font-size: 20px;
      font-weight: $font-primary-bold;
      color: $white;
      background-color: $brand-secondary;
      padding: 20px 30px;
      margin-top: 30px;
      display: inline-block;
    }
  }
}

.contact-form {
  input {
    width: 100%;
    padding: 15px 10px;
    border: 2px solid $light-gray;
    height: auto;
    margin-top: 30px;
  }
  textarea {
    border: 2px solid $light-gray;
    width: 100%;
    margin-top: 30px;
    padding: 10px 10px;
  }
  button {
    text-align: center;
    font-size: 16px;
    font-weight: $font-primary-black;
    color: $white;
    background-color: $brand-primary;
    padding: 20px 30px;
    margin-top: 30px;
    display: inline-block;
    border: 0;
  }
}

.map-wrap {
  position: relative;
  .map-overlay {
    position: absolute;
    background-color: transparentize($brand-primary, .4);
    width: 100%;
    height: 100%;
    text-align: center;

    .fa {
      font-size: 98px;
      color: $white;
    }
  }
}

.map-icon-holder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.modal-member {

  .modal-content {
    position: relative;
    .close {
      position: absolute;
      font-size: 3em;
      font-family: $font-primary;
      font-weight: $font-primary-black;
      top: 20px;
      right: 30px;
      cursor: pointer;
      transform: scale(1);
      transition: .2s ease-in all;
      z-index: 1000;
      color: $brand-primary;
      &:hover {
        transform: scale(1.2);
        transition: .2s ease-in all;
        cursor: pointer;
      }
    }
  }


  .modal-dialog{
    width: 70%;
    max-width: none;
    box-shadow:2px 2px 26px transparentize($black, .7);

    .modal-content{
      border-radius: 0;
      border: none;
    }
  }

  .modal-main {
    padding: 30px;
    h3 {
      font-weight: $font-primary-black;
      font-size: 48px;
      margin-top: 40px;
    }

    span {
      color: $brand-primary;
      font-size: 16px;
      font-weight: $font-primary-bold;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .modal-image {
    padding: 40px;
    img {
      width: 100%;
    }
  }

  p {
    font-size: 18px;
    font-weight: $font-primary-light;
  }

  .major-p {
    font-size: 32px;
  }
}

.modal-backdrop {
  background-color: $white;
}

@media (min-width: 992px) {
  .collapse {
    display: block;
  }

  .navbar-toggleable-md .navbar-collapse {
      display: flex!important;
  }

  .navbar-collapse {
    flex-basis: auto;
  }

  .navbar-toggleable-md .navbar-nav {
    flex-direction: row
  }

  .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}

